@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
    
}

h1 {
    padding: 20px;
    margin-bottom: 20px
}

#pratos {
    background-color: #a3081a;
    background-image: url('../assets/delivery.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    
}

.container {

    padding: 10px 0px 10px 0px;
    margin-bottom: 3em;
    border-bottom: 0.6px #ccc solid;
    background-color: wheat;
    border-radius: 0.2rem;
    padding: 10px;
    font-weight:400;
    margin-top: 5em;
}

#formsSection {
    margin: 0.5em auto;
    width: 550px;
    background-color: #fff;
    
    border-radius: 0.2rem;
}

button {
    background-color: rgb(40, 115, 155);
    color: #eee;
    /* display: block; Ele preencher a largura toda */
    /* width: 100%; Deixar o botão bem grande */
    border: 1px solid #222; /*borda escura em volta do input*/ 
    border-radius: 5px;
    padding: 1em;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5em auto; 


}

#buttonBox {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.headContainer {
    background-color: none;
    

    display: flex;
    sflex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.headContainer h1 {
    color: white;
}

fieldset {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.textFieldset {
    color: white;   
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#passwordDiv {
    position: relative;
}

.password {
    line-height: 10px;
    outline: 0;
}

input {
    outline: 0;
    padding: 0px 0px 0px 20px;
}

i {
    position: absolute;
    right: 5%;
    cursor: pointer;

}

#rodaPe{
    margin-top: 20em;
    width: 100%;
    height: auto;
    background-color: #111;
    text-align: center;
}

#rodaPe div {
    padding: 30px;
    color: #ffffff;
}


/**************** Cabeçalho *****************/

#topo {
    width: 50%;
    padding: 25px;
    height: auto;
    
}

#topo h1 {
    text-rendering: optimizeLegibility;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    color: #fff;
}

#cabeçalho {
    
    margin: 0 auto;
}

#navBar {
    align-items: center;
    
}

#listNav {
    max-width: 500px;
}

#listNav li {
    display: inline;
}

#listNav li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    font-weight: 550;
    display: inline-block;
}

#listNav li:hover {
    padding: 10px;
    border-bottom:5px solid rgba(252, 185, 0, 1);
    font-size: 28px;
    background-color: #ffffff2a;
    transition: background .5s;
}


.logo {
    padding: 0;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;

}

.logoHead {
    width: 300px;
    height: auto;
    border: 1px solid green;
    display: block;
}  

.logoHead i {

    border: 1px solid black;
    
}

.login {
    text-align: center;
    width: 150px;
    cursor: pointer;

}

.login h1 {
    text-rendering: optimizeLegibility;
    font-weight: normal;

    font-size: 1em;
    border-radius: 2rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
}


.login h1:hover {
    background-color: #ffffff2a;
}
/*********** NAVEGAÇÃO ************/


